*{
    padding:0px;
    margin:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
boddy{
    background-color:#FDF6EC;
}
.titulo{
    background-color:#34495E;
    height:125px;
    text-align: center;
    color:white;
}
.h1{
    padding:20px;
}