* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: solid 1px;
    /*contabiliza bordes*/
}

.encabezado {
    width: 100%;
    /* Todo el ancho de la pagina*/
    background-color: burlywood;
    padding: 15px;
}

.titulo_header {
    text-align: center;
    color: black;
}

.container {
    outline: solid 1px grey;
    padding: 20px;
    width: 900px;
    margin: 0 auto;
    /*Centrar un elemento*/
}

/*tamaños ejemplos css*/
.aceptar {
    width: 100px;
    height: 50px;
}

.caja1 {
    width: 80%;
    /*porcentaje para dar tamaño 80/100 */
    height: 200px;
    background-color: brown;
    margin: 0 auto;
}

.parrafo1 {
    font-size: 30px;
}

.link1 {
    font-size: 300%;
}

.cursiva {
    color: cadetblue;
    margin-top: 15px;
    font-style: italic;
}
    
/*📦 Manejo del contenido con overflow, hidden, scroll, auto
*/
.caja{
width: 200px;
height: 100px;
display:inline-block; /* elementos en bloques o columnas*/
}
.example1{
background-color: rgb(0, 0, 255);
height: 100px;
width: 300px;
}
.example2{
background-color: green;
height: 100px;
width: 300px;
}
.example3{
background-color: blueviolet;
height: 100px;
width: 300px;
}
.hidden{ /*Oculta los elementos que sobresalen*/
overflow: hidden;
}
.scroll{
overflow: scroll;
}
.auto{
overflow:auto;
}

/*🎨 Fondo y colores*/
.banner{
    height: 600px;
    width: 100%;
   background: red url("/STACK_CSS/06_tamanos/static/images/invincible-season-2-exclusive-poster-revealed_d5d9.jpg") no-repeat fixed center center;
   background-size: 90%;
}

/*🟫 Bordes y estilos*/

.aceptar{
   border: 2px dotted green;
}

.articulo{
   border: 1px solid black;

   /*🟢 Bordes redondeados*/

}
.boton_redondeado{
   border-radius: 5px;
}

.caja_redondeada{
   border-radius: 50%;
}