.contenedor {
text-align: center;

}

.tarjeta {
   display: inline-block;
   width: 300px;
   height: 100px;
   background-color:#52A5DE;
   margin: 10px;
   text-align: center;
   border-radius: 10px;
   color: white;
   font-weight: bold;
   padding: 20px;
}

/*-------------------------------------Sitio index---------------------------------------------------------------------------------*/
*{
   padding:0;
margin: 0;
box-sizing: border-box;
font-family: Arial,sans-serif;
}

body{
   background-color:rgb(222,222,222);
}
/* HEADER */
.header{
   background-color:#173353;
   color: rgb(255, 255, 255);
   text-align: center;
   padding:20px;
}

.menu{
   margin-top: 1px;

}

.boton{
   display: inline-block;
   background-color:#214875;
   color: white;
   text-decoration: none;
   padding: 10px 20px;
   
}

/* MAIN */
.contenedor_principal{
   padding:15px;
}
.colorr{
    text-align: center;
    background-color:#214875;
    
    
}
.centro{
    text-align: center;
    margin:45px;
    color: rgb(255, 255, 255);
    background-color:#214875;
    width:1000px;
    height:150px;
    border-radius:10px;
    padding: 10px;
    
}
.pass{
    margin:30px;
      margin-left:50px;
}
.pig{
    margin:30px;
    
}
.citi{
   margin:10px;
}

.tierra{
   justify-items:center;
   background-color:rgb(255, 255, 255);
   width:95%;
   height: 420px;
   justify-self:center;
   padding-top:1px;
   margin-top:40px;
   box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.253);
   border-radius: 7px;
}